# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env
frontend/.env
backend/.env
ml-service/.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
frontend/dist/
frontend/build/

# Kaggle credentials
kaggle.json